@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.header-link:hover {
    -webkit-text-stroke: 1px !important;
}

.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(180deg, rgba(184, 81, 224, 0.24) 0%, rgba(235, 72, 155, 0.24) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.box-border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 51px;
    min-width: 50px;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(204.52deg, #FFFFFF 11.72%, rgba(255, 255, 255, 0) 95.7%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.show-navbar {
    right: 0 !important;
}

@media (min-width: 1024px) {
    .rfm-marquee-container {
        gap: 32px;
    }
}

.most-popular-badge {
    width: 103px;
    height: 24.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.11px;
    border-radius: 29.12px;
    border: 1px solid #B851E0;
    padding: 4.6px 5.11px;
    background: linear-gradient(180deg, rgba(184, 81, 224, 0.12) 0%, rgba(235, 72, 155, 0.12) 100%);
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.box:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(180deg, rgba(184, 81, 224, 0.24) 0%, rgba(235, 72, 155, 0.24) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.gradient-border {
    position: relative;
    background-color: rgba(230, 73, 162, 0.03);
    border-radius: 16px;
    overflow: hidden;
}

.gradient-border::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(184, 81, 224, 0.2), rgba(235, 72, 155, 0.2));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.custom-border {
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #000000 0%, #FFFFFF 54.03%, #000000 100%);
    border-image-slice: 1;
}

.swiper-slide {
    transition: all 0.5s ease;
    opacity: 0.5;
}

.swiper-slide-active {
    opacity: 1 !important;
    filter: blur(0px) !important;
}